<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <form action="./items">
        <textarea name="code" rows="30" cols="70">fn main() {
            // 世界よ、こんにちは
            println!("Hello, world! Rust");
        }</textarea><br>
        <input type="submit" value="送信">
    </form>
    OK
    <br>
    <code>{{ out }}</code>
    <br>
    ERROR
    <br>
    <code>{{ err }}</code>
</body>
</html>
